body {
    background-color: #8F544C;
}

.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.9); /* If our image is bright, we can tone it down with this darker overlay */
    padding-top:200px;  
    padding-bottom:200px;
    background-image: url("images/hero_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.text{
    opacity:1;
}

.navbar {
    padding:1rem;
    background-color: #4F605E;
}

.btn-hover:hover {
    background-color: #8F544C;
}
.jumbotron{
    background-color: #F0E3DB;
}

.col-lg-4 {
    background-color: #CE665A;
}

.footer {
    height:200px;
    padding-top: 10vh;
}
